# Byte-compiled files
__pycache__/

# Environments
venv/

# Temporary files
temp
tmp

# Unit test / coverage reports
.pytest_cache/

# PyCharm project settings
.idea/

# Project specific files
*.json
!new-contact-template.json
cache/
data/
